<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.8.0.2561" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="ReactiveUI" version="9.12.1" targetFramework="net462" />
  <package id="ReactiveUI.Events.WPF" version="9.12.1" targetFramework="net462" />
  <package id="ReactiveUI.WPF" version="9.12.1" targetFramework="net462" />
  <package id="ShowMeTheXAML" version="1.0.12" targetFramework="net462" />
  <package id="ShowMeTheXAML.MSBuild" version="1.0.12" targetFramework="net462" />
  <package id="Splat" version="7.0.1" targetFramework="net462" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>